body{
     font-family: comfortaa;
     color: #002E67;
}

h1{
	text-align: center;
}

#refresh_button{
	width:30px;
     height:30px;
     text-align: center;
     background: url(img/refresh_icon.png);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     border-radius: 10px;
}

#refresh {
	margin-left: 370px;
}

#myGraph {
     text-align: center;
	margin-top: 100px;
}

#title {
     font-family: comfortaa; 
     color: rgb(127,127,127);
}


